body {
    font: normal x-large "うずらフォント";
    line-height: 120%;
    margin: 1em;
}

div.diary {
    padding: 0.5em;
    border: solid 6px silver;
}

hr {
    border-top: 3px solid silver;
}

h1 {
    margin: 0.2em;
    padding-bottom: 0.5em;
}

h2 {
    margin-left: 0.3em;
}

h3.season {
    margin: 0;
}

ul.season {
    margin: 0.5em 0 0 0;
}

td.season {
    vertical-align: top;
    padding-right: 2em;
}

span.date {
    font-weight: bold;
    font-size: xx-large;
    margin: 0;
}

img.image {
    border: thick silver solid;
}

p.block {
    margin-left: 0.5em;
}

a.link {
    margin-left: 0.5em;
}

div.page_links {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}


table.draft {
    border-collapse: collapse;
    border: solid 3px silver;
}

th.select {
    border: solid 3px silver;
    color: gray;
}

td.select, td.draft_team {
    border: solid 3px silver;
}

td.double {
    width: 95px;
}

img.hero {
    width: 44px;
    height: 44px;
    margin: 1px;
}

img.ban {
    opacity: 0.5;
}

span.hero {
    font-size: small;
}
